[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
zipp = {editable = true, file = "file:///Users/annethessen/collections-attribution-model"}

[requires]
python_version = "3.7"
